
.footer1{
    font-size: 20px;
    font-weight: 200;
    color: black;
}
.a{
    margin-left: 40px;
    width: 300px;
}
.b{
    margin-left: 40px;
    width: 200px;
}
.c{
    margin-left: 40px;
    width: 200px;
}
.d{
    margin-left: 40px;
    width: 200px;
}
.e{
    margin-left: 40px;
    width: 200px;
}
.f{
    margin-left: 40px;
    width: 200px;
}
.g{
    margin-left: 40px;
    width: 200px;
}

.tb1{
    margin-left: 50px;
    color: white;
}
table .f{
    width: 300px;
}





